.nav_pagination {
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.button_arrow {
  border-radius: 15px;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: black;
  margin-right: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}
.button_arrow:hover {
  background-color: gainsboro;
}
.button_arrow img {
  padding-top: 3px;
  width: 13px;
}

.space {
  border-radius: 15px;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: black;
  margin-right: 4px;
  font-size: 14px;
}
.nav_input {
  width: 40px;
  height: 30px;
  font-size: 14px;
  border-right: none;
  text-align: center;
  background: #ffff;
  color: #333;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25em 0 0 0.25em;
}
.nav_input:focus {
  border: 1px solid var(--primaryColor);
}
.nav_button {
  height: 30px;
  font-size: 14px;
  width: 30px;
  border: 1px solid var(--primaryColor);
  border-radius: 0 6px 6px 0;
  border-left: none;
  color: #ffff;
  background-color: var(--primaryColor);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}
.nav_button:hover,
.nav_button:active {
  background-color: var(--secundaryColor);
}
